@import '../../index.css';


#portfolio{
    overflow: hidden;
    max-width: 75vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Poppins;
    margin: 0px auto;
    margin-top: 200px;
}

.portImages{
    margin: 3rem auto;
    width: 100vw;
    max-width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 1rem;
    flex-wrap: wrap;
}

.portImg{
    position: relative;
}

.portImg .portImgs{
    object-fit: cover;
    height: 15rem;
    width: 20rem;
    background-color: var(--sec-background-color);
    border-radius: 0.75rem;
}


.portImg .icons{
    display: flex;
    column-gap: 0.5rem;
    z-index: 2;
    bottom: 1rem;
    right: 1rem;
    position: absolute;
}

.portImg .icons .blurBg{
    width: 40px;
    height: 40px;
    background-color: #3b3b3b;
    opacity: 0.65;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    backdrop-filter: blur(50px);
}
.blurBg>Router{
    display: flex;
    align-items: center;
    justify-content: center;
}

.portImg .icons .blurBg:hover{
    background-color: #202020;
    opacity: 0.95;
}



.blurBg .blur{
    color:#4d4d4d;
    object-fit: contain;
    width: 24px;
    height: 24px;
}

.blurBg a{
    width: 24px;
    height: 24px;
}


/* media Query */


@media screen and (min-width: 1024px) {
    #portfolio {
        max-width: 75rem;
        margin-top: 200px;
    }
    .portImages {
        column-gap: 1rem;
        row-gap: 1rem;
    }
    .portImg .portImgs {
        height: 15rem;
        width: 20rem;
    }
    .portImg .icons .blurBg {
        width: 40px;
        height: 40px;
    }
    .blurBg img {
        width: 28px;
        height: 28px;
    }
    .skillTitle {
            font-size: 2.5rem;
        }
        .skillDesc {
            font-size: 1rem;
            padding: 0 2rem;
        }
}

/* Tablet (Medium screens, 768px to 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #portfolio {
        margin-top: 150px;
    }
    .skillTitle {
        font-size: 2.5rem;
    }
    .skillDesc {
        font-size: 1rem;
        padding: 0 2rem;
    }
    .portImages {
        column-gap: 0.75rem;
        row-gap: 0.75rem;
    }
    .portImg .portImgs {  
        height: 15rem;
        width: 20rem;
    }
    .portImg .icons .blurBg {
        width:40px;
        height:40px;
    }
    .blurBg img {
        width: 24px;
        height: 24px;
    }
}

/* Mobile (Small screens, 767px and down) */
@media screen and (max-width: 767px) {
    #portfolio {
        margin: 1rem auto;
        margin-top: 100px;
        text-align: center; 
    }
    .skillTitle {
        font-size: 2rem;
    }
    #portfolio .skillDesc {
        font-size: 0.9rem;
        padding: 0;
    }
    .portImages {
        flex-direction: column;
        column-gap: 0;
        row-gap: 1rem;
        margin: 0rem auto;
        margin-top: 2rem;
    }
    .portImg .portImgs {
        height: 12rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .portImg .icons .blurBg {
        width:32px;
        height:32px;
    }
    .blurBg img {
        width: 24px;
        height: 24px;
    }
    #portfolio .navBtn{
        width: 100%;
        margin-top: 3rem;
    }
}