@import '../../index.css';

.marquee{
    width: 100%;
    /* height: calc(100vh-125px); */
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background: var(--background-color);
    color: var(--text-color);
    padding: 0.45rem 0;
    /* position: absolute; */
    margin-top: 2rem;
    z-index: 3;
}

.marquee p{
    display: inline-block;
    font-size: 1rem;
    padding-left: 100%;
    animation:  marquee 30s linear 1s infinite;
}


@keyframes marquee {
    from{
        transform:  translateX(100%);
    }
    to{
        transform: translateX(-100%);
    }
}

@media screen and (max-width: 1200px) {
    .marquee{
        margin-top: 2rem;
    }
}
@media screen and (max-width: 1100px) {
    .marquee{
        margin-top: 1rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .marquee{
        margin-top: 1rem;
    }
}